div.time-log-dashboard {
    display: flex;
    height: 100%;
}

div.time-log-dashboard h1 {
    margin: 0 auto;
    text-align: center;
}

aside.employee ~ div.days-log-tbl {
    margin-left: 50px;
    transition: margin-left 0.4s ease-out;
}

aside.employee.open ~ div.days-log-tbl {
    margin-left: 300px;
    transition: margin-left 0.4s ease-out;
}
