div.days-log-row {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

div.days-log-row div {
    margin: auto;

    text-align: center;
}

div.days-log-row div.date {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 5px;
}

div.days-log-row div.time-plan {
    width: fit-content;
    padding: 2px 5px;
}

div.days-log-row div.time-plan span {
    margin: 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

div.days-log-row div.time-plan span:first-child:before {
    content: 'Надо: ';

    margin-right: 2px;
}

div.days-log-row div.time-plan span:last-child:before {
    content: 'По факту: ';
    
    margin-right: 2px;
}

div.days-log-row div.in-out {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
    padding-bottom: 10px;
}

div.days-log-row div.in-out div {
    margin: 5px;
}