div.log-in-out-field {
    padding: 10px;
    max-width: 170px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

div.log-in-out-field.in {
    background-color: rgb(129, 181, 120);

    color: black;
}

div.log-in-out-field.out {
    background-color: #cd7a7a;

    color: white;
}

div.log-in-out-field span {
    display: block;
    margin: auto;

    text-align: center;
    font-size: 16px;
}

div.log-in-out-field span:first-child {
    margin-bottom: 5px;
}
