div.log-in-out-field {
    padding: 10px;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

div.log-in-out-field.in {
    background-color: rgba(203, 242, 177, 0.3);
}

div.log-in-out-field.out {
    background-color: rgba(245, 181, 181, 0.5);
}

div.log-in-out-field span {
    display: block;
    margin: auto;

    text-align: center;
    font-size: 16px;
}

div.log-in-out-field span:first-child {
    font-weight: bold;
    
    margin-bottom: 5px;
}
